@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes draw {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
}

.line.on {
    animation-name: draw;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

#title {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}